.root {
  background-color: white;
  color: var(--color-gray-500);
  padding: 5px;
}

.table {
  tr {
    height: 50px;
  }
}

.table-active {
  background-color: transparent;
}

.slot-label {
  font-size: var(--text-sm);
}

.slot-lane {
  border-top: 1px solid var(--color-gray-200);
}

.event {
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-gray-200);
  padding: 0.3rem;
  margin: 0 0.2rem;
  border-radius: 0.3rem;
  font-size: 0.6rem;
  * {
    color: black;
  }
}
